---
layout: default
---

<div class="row">
  <div class="col">
    {% for post in paginator.posts %}
      {% assign minutes = post.content | strip_html | number_of_words | divided_by: 180 %}
      {% if minutes == 0 %}
        {% assign minutes = 1 %}
      {% endif %}
      <div class="mb-4">


          <h2>
            <a href="{{ post.url | prepend: site.baseurl }}" class="nocolor">{{ post.title }}</a>
          </h2>

        <div class="meta text-muted">
          {{ post.date | date_to_long_string }},
          <span>
            <i class="fa fa-clock-o ml-1" aria-hidden="true"></i> {{ minutes }} min
          </span>
          /
          <a href="{{ post.url | prepend: site.baseurl }}">
            permalink
          </a>
        </div>

        <div style="margin-top: 1em;">
            {% if post.excerpt %}
                {{ post.excerpt }}
            {% else %}
              {{ post.content }}
            {% endif %}
        </div>


      </div>
      <hr>
  {% endfor %}
  </div>
</div>


</div>
